<a href="https://colab.research.google.com/github/ProsperChuks/Business-Analytics/blob/main/base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dependencies

In [1]:
import pandas as pd

### Loading the Data

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Assessment/ML&Business_Analytics/data/assessment.csv')
df

      user_id  Channel  ...  Product_Type  Product_Category
0        1191      8.0  ...      Postpaid       Electricity
1        1287      1.0  ...       Airtime             Telco
2        1168      8.0  ...      Postpaid       Electricity
3        1119      2.0  ...          Data             Telco
4        1168      8.0  ...       Prepaid       Electricity
...       ...      ...  ...           ...               ...
2630     2421      1.0  ...       Airtime             Telco
2631       49      8.0  ...       Prepaid       Electricity
2632       49      8.0  ...      Postpaid       Electricity
2633       49      8.0  ...       Prepaid       Electricity
2634       49      1.0  ...       Airtime             Telco

[2635 rows x 10 columns]