# Dependencies

In [23]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the Data

In [3]:
df = pd.read_csv('data/assessment.csv')
df

,user_id,Channel,TotalTransactionAmount,Tx_Count,DaysSinceLastTrans,reseller_id,superdealer_id,Product_ServiceProvider,Product_Type,Product_Category
0,1191,8.0,532700,137,30,1130.0,18.0,Jos Electric,Postpaid,Electricity
1,1287,1.0,1635552,131,30,0.0,18.0,MTN,Airtime,Telco
2,1168,8.0,548300,114,30,1130.0,18.0,Jos Electric,Postpaid,Electricity
3,1119,2.0,12200,13,30,0.0,447.0,Airtel,Data,Telco
4,1168,8.0,211700,75,30,1130.0,18.0,Jos Electric,Prepaid,Electricity
...,...,...,...,...,...,...,...,...,...,...
2630,2421,1.0,1400,4,32,1130.0,18.0,MTN,Airtime,Telco
2631,49,8.0,1600,8,325,0.0,0.0,Ikeja Electric,Prepaid,Electricity
2632,49,8.0,200,1,329,0.0,0.0,Ikeja Electric,Postpaid,Electricity
2633,49,8.0,9000,9,329,0.0,0.0,Eko Electric,Prepaid,Electricity
2634,49,1.0,100,1,352,0.0,0.0,MTN,Airtime,Telco

# Preprocessing

In [4]:
df.describe()

,user_id,Channel,TotalTransactionAmount,Tx_Count,DaysSinceLastTrans,reseller_id,superdealer_id
count,2635.000000,2633.000000,2.635000e+03,2635.000000,2635.000000,2633.000000,2633.000000
mean,1251.568880,1.730725,5.815019e+04,91.971157,119.154459,108.876946,389.900494
std,664.557929,1.834539,5.766734e+05,1223.775908,84.336623,379.661037,271.553301
min,3.000000,1.000000,1.000000e+00,1.000000,30.000000,0.000000,0.000000
25%,816.000000,1.000000,2.000000e+02,1.000000,54.000000,0.000000,447.000000
50%,1140.000000,1.000000,1.000000e+03,3.000000,107.000000,0.000000,447.000000
75%,1613.500000,2.000000,4.952000e+03,9.000000,147.000000,0.000000,447.000000
max,2725.000000,10.000000,2.086921e+07,46531.000000,735.000000,2557.000000,2494.000000

## Handling Missing Values

In [5]:
df.dropna(inplace=True)
df.isnull().sum()

user_id                    0
Channel                    0
TotalTransactionAmount     0
Tx_Count                   0
DaysSinceLastTrans         0
reseller_id                0
superdealer_id             0
Product_ServiceProvider    0
Product_Type               0
Product_Category           0
dtype: int64

# Seperating Services Provided
to cluster customers into different segments

In [6]:
cate = df.Product_Category.drop_duplicates()
cate.reset_index(drop=True, inplace=True)
cate

0      Electricity
1            Telco
2         Cable TV
3    Universal Pin
4        Education
Name: Product_Category, dtype: object

In [7]:
electric = df.loc[df.Product_Category == cate[0]]
telecom = df.loc[df.Product_Category == cate[1]]
cable = df.loc[df.Product_Category == cate[2]]
pin = df.loc[df.Product_Category == cate[3]]
edu = df.loc[df.Product_Category == cate[4]]

In [8]:
pickle.dump(electric, open('serialized files/electric.pkl', 'wb'))
pickle.dump(telecom, open('serialized files/telecom.pkl', 'wb'))
pickle.dump(cable, open('serialized files/cable.pkl', 'wb'))
pickle.dump(pin, open('serialized files/pin.pkl', 'wb'))
pickle.dump(edu, open('serialized files/edu.pkl', 'wb'))